{{outlet}}
<br>
<h2>showing the selected template only</h2>

	<b>{{ model.title }}</b><br>
	City: {{ model.city }}<br>
    Budget: {{ model.budget }}<br>
    Locality: {{ model.locality_preference }}<br>
    Hobbies: {{ model.hobbies }}<br>
    Priorities: {{ model.priorities}}<br>
    Message: {{ model.message}}<br><br><hr><br>


